body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
    background-image: url("images/background-image.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-height: 100%;
    max-width: 100%;
}

.heading {
    padding-top: 20px;
    text-align: center;
}

.cards {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.img {
    display: block;
    max-height: 500px;
    max-width: 300px;
}

.paragraph {
    font-size: 28px;
    text-align: center;
}

.description {
    font-size: 20px;
}

@media (width <= 375px){
    .cards {
        flex-direction: column;
    }
    .page {
        margin: 10px;
    }
}